<%- include('partials/page-start') %>

<div class="container vh-100 py-3">
  <div class="card h-100">
    <div class="card-header">
      Chat App
    </div>
    <ul id="messages" class="list-group mh-100 flex-grow-1 overflow-auto">
      <!-- Chat messages go here -->
    </ul>
    <div class="card-footer">
      <form class="chat-form d-flex">
        <input class="form-control chat-input w-100" id="chat-message" />
        <button type="submit" class="btn btn-primary">
          Send
        </button>
      </form>
    </div>
  </div>
</div>

<%- include('partials/page-end') %>
